# Contains environment variables to be passed into Docker.
# Allows `env.sample` to be tracked but not any other file beginning with `env.`
# For example, `env.dev` or `env.prod` won't be tracked but `env.sample` will.
env.*
!env.sample