COMPOSE_PROJECT_NAME=aws_cli

# References:
# 1. https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file
# 2. https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html
# 3. https://docs.aws.amazon.com/cli/latest/topic/config-vars.html

# Access and secret key variables override credentials stored in credential and config files.
AWS_ACCESS_KEY_ID=***REMOVED***
AWS_SECRET_ACCESS_KEY=***REMOVED***

# AWS region. This variable overrides the default region of the in-use profile, if set.
# See: https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/
AWS_DEFAULT_REGION=us-west-2